      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }
      th, td {
        border: 1px solid black;
        height: 100px;
        text-align: center;
      }
